<div class="container" style="margin-top: 5rem;">
    <h4 class="text-center text-light">Add Your Todo</h4>

    <form class="m-2 p-2" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingTitle"  placeholder="Title" [(ngModel)]="title" id="title" name="title" >
            <label for="floatingTitle">Title</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Description" id="floatingDescription" style="height: 150px" [(ngModel)]="description" id="description" name="description"></textarea>
            <label for="floatingDescription">Description</label>
        </div>
        <!-- Add Button -->
        <button type="submit" class=" btn btn-dark mt-3">Add Todo</button>
    </form>
</div>