<div class="about-container">
    <h1 class="text-info text-center">About WebSite</h1>
        <div class="col-md-4 mx-auto">
            <img class="todo-image text-center" src="../../../assets/images/todoImage.svg" alt="TodoImage" />
        </div>
        <div class="mx-auto text-light col-md-8 col-10 lead">
            Welcome to our WebSite, the ultimate TodoList application designed to help you stay organized and manage your tasks effectively. With our intuitive interface and powerful features, you can easily create, track, and prioritize your tasks to boost your productivity and achieve your goals.
        </div>
</div>
