<div class="todo-card my-6 ">
    <div class="d-flex mx-auto">
        <!-- title of the todo -->
        <h4 class="text-primary mr-3" [ngClass]=" {'strike':!todo.active} " >{{todo.title}} </h4>

        <!-- checkBox for marking the completed items as done and also can undo the marking to undone -->
        <div class="m-1 mx-3 form-check">
            <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckBoxClick(todo)" [checked]="!todo.active"> 
            <label class="text-light form-check-label" for="todo{{i}}">{{todo.active?"Done":"Undo"}}</label>
        </div>
    </div>
    <!-- description about the todo work -->
    <p class="text-light" [ngClass]=" {'strike':!todo.active} " > {{todo.desc}} </p>
    <!-- addTodo Button to add the created Todo's -->
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)" >Delete</button>
</div>

